@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root
{
    --white: #fff;
    --mint: #0ef6cc;
    --gray: #3A4F50;
    --white2: #f2f2f2;
    --black: #1b2223;

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white2);
}
section
{
    position: relative;
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
}
.swiper
{
    width: 950px;
}
section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: var(--mint);
}
section .card .pik{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #f0ec8b;
}
section .card .image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 50%;
    border: 3px solid var(--white);
}

.card
{
    position: relative;
    background: var(--white);
    border-radius: 20px;
    margin: 20px 0;
    /* width: 280px; */
}

.card::before
{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: var(--mint);
    border-radius: 20px 20px 0 0;
}

.card .card-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;

}

.card .media-icons
{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .media-icons i
{
    color: var(--gray);
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .media-icons i:hover
{
    opacity: 1;
}
.card .epo-name
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: var(--black);
}
.epo-name .epo
{
    font-size: 20px;
    font-weight: 600;
}
.epo-name .name
{
    font-size: 20px;
    font-weight: 500;
}

.card .rating
{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.card .rating i
{
    font-size: 18px;
    margin: 0 2px;
    color: var(--mint);
}
.las.la-star.ph,.lar.la-star.ph
{
    font-size: 18px;
    margin: 0 2px;
    color: #ffcc03;
}
.card .button
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button
{
    background: var(--mint);
    outline: none;
    border: none;
    color: var(--white);
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
}
.aboutMe.pika,.hireMe.pika
{
    background: #d5cd12 !important;
    outline: none;
    border: none;
    color: var(--gray);
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.button button:hover
{
    background: var(--mint);
}

.swiper-pagination-bullet
{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: var(--mint);
}

.swiper-button-next, .swiper-button-prev
{
    opacity: 0.7;
    color: var(--mint);
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover
{
    opacity: 1;
    color: var(--mint);
}
